html
  include ../includes/head.pug
  body
    include ../includes/nav.pug
    div.container
      h1 Simple User Manager 3.0
      div.buttons
        a.link(href="/users") Users
        a.link(href="/form") New User
        a.link(href="/search") Search